body {
  background-color: #242425;
  font-family: "RooneySansWeb";
  font-size: 17px;
  text-rendering: optimizeLegibility;
}

p, a, label {
  color: #FFF;
}

#sandbox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100px;
  background-size: 100%;
  background-image: linear-gradient(to right, #000, #FFF);
  border-radius: 0.625rem;
}

input {
  background-color: #19191a;
  border: 4px solid #330033;
  border-radius: 0.2rem;
  color: #fff;
}

script {
  display: none;
}

@media only screen and (min-width: 768px) {
  .visible-sm {
    display: none;
  }
}

@media only screen and (max-width: 767.98px) {
  .hidden-sm {
    display: none;
  }
  body, input {
    font-size: 30px;
  }
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  #sandbox {
    margin: 0.4em;
    width: 90%;
    height: 200px;
  }
  label, input {
    width: 100%;
  }
}

img {
  width: 100px;
  height: 100px;
}

.umbrawiki-logo {
  float: left;
}

.github-logo {
  float: right;
}

#copy-gradient {
  background: #101010;
  border: 1px dashed #85bb6f;
  color: #85bb6f;
  overflow: auto;
  white-space: pre;
  font-family: monospace;
}
